body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  padding: 10px;
  width: 450px;
  background: #fff;
  margin: 16px auto;

}

.title {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 15px;
  background: #e3f4ff;
}

.content {
  margin-bottom: 10px;
  padding: 15px;
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  padding: 15px;
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
  padding: 8px 16px;
  background: white;
  border: 1px solid #eee;
}